/* header style */
.header{
    font-family: 'Times New Roman', Times, serif;
    background-color: darkred;
    color: white;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sansita Swashed', cursive;
  }
  
  
  /*body style  */
  body{
    background-color: lightyellow;
    
  }
  .content{
   max-width: 960px;
   
  }
  .wrapper{
   
   justify-content: center;
   
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  
  /*columns  */
  .columna{
    flex: 0 1 auto;
    margin-right: 15px;
    
  }
  .image>p{
    background-color: rgb(66, 233, 233);
    font-family: 'Times New Roman', Times, serif;

  }
  .columnb{

    background-color: lightgreen;
    border-radius: 0%;
  }
  
  /*sub columns  */
  .columna > .image > img{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
  }

  @media (max-width:1000px){
    .container{
      justify-content:center;
    }
    .columna{
      flex: 1 0 auto;
      margin-right: 0px;
    }
  }
  
  /* Font styles colunm  */
  .columnb, h2,p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }

.columnb,li>h2{
  font-family:'Architects Daughter';

}
.columnb,li>p{
  font-family: 'Barlow',cursive;
  font-weight: 500;
}
  
  
  /*  */